/* Global Styles */

@font-face {
    font-family: "Departure Mono";
    src: url("assets/fonts/DepartureMono-Regular.woff");
    src: url("assets/fonts/DepartureMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Color Scheme */
